!!!
%html{:lang => "en-us", "xml:lang" => "en-us", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    = stylesheet_link_tag "application", "buttons"
    %title= "FooJobs"
  %body
    #header
      = render "shared/header"
    #content
      #mainContent
        = yield
    = javascript_include_tag "jquery-1.4.2.min", "application"
    = yield :javascript